    # download ckptman
    - name: obtain the ckptman code
      get_url: url=https://s3.amazonaws.com/amcaar/ckptman.tar.gz dest=/tmp/ckptman.tar.gz

    # ckptman installation
    - command: tar -xzf /tmp/ckptman.tar.gz -C /usr/local creates=/usr/local/ckptman
    #- file: path=/usr/local/ckptman/ckptman mode=0755
    #- file: path=/usr/local/ckptman/ckptman_daemon.py mode=0755
    #- file: src=/usr/local/ckptman dest=/usr/local/ckptman state=link
    - file: src=/usr/local/ckptman/ckptman dest=/etc/init.d/ckptman state=link

    # ckptman config file
    #- lineinfile: dest=/usr/local/ckptman/config.py regexp=CKPT_ALGORITHM line="CKPT_ALGORITHM = 'HOUR'"

    # Start ckptman service    
    - service: name=ckptman state=started
